import os
basedir = os.path.abspath(os.path.dirname(__file__))

"""
Site settings
"""
SITE_TITLE = 'Flaskmarks'
SITE_FOOTER = 'Flaskmark awesome bookmark and feed app'
CAN_REGISTER = True

"""
Database settings.
"""
# SQLiTE
SQLALCHEMY_DATABASE_URI = 'sqlite:///' + os.path.join(basedir, 'flaskmarks.sqlite')
# MySQL
# SQLALCHEMY_DATABASE_URI = 'mysql://username:password@server/db'
# PostgreSQL
# SQLALCHEMY_DATABASE_URI = 'postgresql://username:password@server/db'

"""
Keys
"""
CSRF_ENABLED = True
SECRET_KEY = 'super-duper-secret-key-CHANGE-ME'

"""
Debugging
"""
DEBUG_MODE = True
DEBUG_TB_INTERCEPT_REDIRECTS = False
