#requirements

BeautifulSoup
sqlalchemy
flask
flask-login
flask-sqlalchemy
flask-debugtoolbar
flask-migrate
flask-script
flask-bcrypt
flask-bootstrap
flask-wtf==0.9.2
sqlalchemy-migrate
WebHelpers2
wtforms
#flup
pep8
feedparser
