#requirements

cryptacular
BeautifulSoup
sqlalchemy
flask
flask-login
flask-sqlalchemy
flask-debugtoolbar
flask-migrate
flask-script
sqlalchemy-migrate
WebHelpers2
flask-wtf
wtforms
#flup
pep8
feedparser
