<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>{{ config['SITE_TITLE'] }} - {{title}}</title>
  <link href="/static/css/normalize.css" rel="stylesheet" media="screen">
  <link href="/static/css/style.css" rel="stylesheet" media="screen">
  <script src="/static/js/jquery-2.0.1.min.js" type="text/javascript"></script>
  <script src="/static/js/commons.js" type="text/javascript"></script>
</head>
<body>
  <div id="header">
    <h1><a href="{{ url_for('marks') }}">{{ config['SITE_TITLE'] }}</a></h1>
    {% if g.user.is_authenticated() %}
    <div id="search">
        {% include "searchform.html" %}
    </div>
    {% endif %}
    {% include "menus.html" %}
  </div>
  <div id="content">
      {% include "flash.html" %}
      {% block content %}
      {% endblock %}
  </div>
  <div id="footer">
    {{ config['SITE_FOOTER'] }}
  </div>
</body>
</html>
