<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Bookmarkapp - {{title}}</title>
  <link href="/static/css/normalize.css" rel="stylesheet" media="screen">
  <link href="/static/css/style.css" rel="stylesheet" media="screen">
</head>
<body>
  <div id="header">
    <ul>
        {% if g.user.is_authenticated() %}
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
    </ul>
  </div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
  {% for message in messages %}
      <li>{{ message }} </li>
  {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  {% block content %}
  {% endblock %}
</body>
</html>
