<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Bookmarkapp - {{title}}</title>
  <link href="/static/css/normalize.css" rel="stylesheet" media="screen">
  <link href="/static/css/style.css" rel="stylesheet" media="screen">
  <script src="/static/js/jquery-2.0.1.min.js" type="text/javascript"></script>
  <script src="/static/js/commons.js" type="text/javascript"></script>
</head>
<body>
  <div id="header">
    {% if g.user.is_authenticated() %}
    <div id="search">
        <form action="/search" method="GET">
          <label for="q">Search</label>
          <input name="q" value="{{ request.args['q'] }}" type="text"/>
          <input type="submit" value="Search" />
        </form>
        {% if request.args['q'] %}
        <a href="/index">Reset search</a>
        {% endif %}
    </div>
    {% endif %}
    <div id="primsection">
        <ul class="primarymenu">
            {% if g.user.is_authenticated() %}
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>
    </div>
    <div id="secsection">
        <ul class="secondarymenu">
        {% block secondarymenu %}
            {% if g.user.is_authenticated() %}
                <li><a href="{{ url_for('new_bookmark') }}">New Bookmark</a></li>
            {% endif %}
        {% endblock %}
        </ul>
    </div>
  </div>
  <div id="content">
      <div id="flashmessages">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }} </li>
            {% endfor %}
            </ul>
          {% endif %}
          {% endwith %}
      </div>
      {% block content %}
      {% endblock %}
  </div>
  <div id="footer"></div>
</body>
</html>
