<nav id="sidebar" class='shadow4 roundcorner5'>
    <ul class="primarymenu">
        {% if g.user.is_authenticated() %}
            <li><a href="{{ url_for('marks') }}" class="{% if request.url_rule.rule == url_for('marks') %}active{% endif %}">Marks</a></li>
            <li><a href="{{ url_for('tags.cloud') }}" class="{% if request.url_rule.rule == url_for('tags.cloud') %}active{% endif %}">Tags</a></li>
            <li><a href="{{ url_for('profile.userprofile') }}" class="{% if request.url_rule.rule == url_for('profile.userprofile') %}active{% endif %}">Profile</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            {% if config['CAN_REGISTER'] %}
                <li><a href="{{ url_for('profile.register') }}">Register</a></li>
            {% endif %}
        {% endif %}
    </ul>
</nav>
