<div id="primsection" class='shadow4 roundcorner5'>
    <ul class="primarymenu">
        {% if g.user.is_authenticated() %}
          {% block secondarymenu %}
              <li><a href="{{ url_for('new_mark') }}">New mark</a></li>
          {% endblock %}
        {% endif %}
        {% if g.user.is_authenticated() %}
        <li><a href="{{ url_for('profile') }}">Profile</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
        <li><a href="{{ url_for('login') }}">Login</a></li>
        {% if config['CAN_REGISTER'] %}
        <li><a href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
        {% endif %}
    </ul>
</div>
