<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Add new bookmark</h1>
<div id="login">
  <form action="{{ url_for('new_bookmark') }}" method="POST">
    {{form.hidden_tag()}}
    <p>
      {% for error in form.title.errors %}
        {{ error }} <br />
      {% endfor %}
      {{ form.title.label('Title') }} <br />
      {{ form.title(size=20) }}
    </p>
    <p>
      {% for error in form.url.errors %}
        {{ error }} <br />
      {% endfor %}
      {{ form.url.error }}
      {{ form.url.label('URL') }} <br />
      {{ form.url(size=20) }}
    </p>
      <input type="submit" value="Submit">
  </form>
</div>
{% endblock %}
