<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Register</h1>
<div id="register">
  <form action="{{ url_for('register') }}" method="POST">
    {{form.hidden_tag()}}
    <p>
      {% for error in form.username.errors %}
        {{ error }} <br />
      {% endfor %}
      {{ form.username.label('Username') }} <br />
      {{ form.username(size=20) }}
    </p>
    <p>
      {% for error in form.email.errors %}
        {{ error }} <br />
      {% endfor %}
      {{ form.email.error }}
      {{ form.email.label('Email') }} <br />
      {{ form.email(size=20) }}
    </p>
    <p>
      {% for error in form.password.errors %}
        {{ error }} <br />
      {% endfor %}
      {{ form.password.label('Password')}} <br />
      {{ form.password(size=20) }}
    </p>
    <p>
      {{ form.confirm.label('Confirm Password')}} <br />
      {{ form.confirm(size=20) }}
    </p>
      <input type="submit" value="Register" />
  </form>
</div>
{% endblock %}
