<form action="/search" method="GET">
    <label for="q">
        Search:
        <input id="q" name="q" value="{{ request.args['q'] }}" type="text" class="roundcorner5 shadow4" placeholder='Keyword'/><br />
    </label>
    <div class="hidden">
        <input name="type" value="bookmark" type="radio" id="bookmarkstype" {{ 'checked' if request.args['type'] == 'bookmark' else ''}} />
        <label for="bookmarkstype"> Bookmarks</label>
        <input name="type" value="feed" type="radio" id="feedstype" {{ 'checked' if request.args['type'] == 'feed' else ''}} />
        <label for="feedstype"> Feeds</label>
    </div>
    <input type="submit" value="Search" />
</form>
