{% extends "base.html" %}
{% block content %}
{% include "tag/submenu.html" %}
    <section class="contentbox markslist roundcorner5 shadow4">
        <section id="tagcloud">
        {% if tags %}
            <ul>
            {% for t in tags %}
                <li>
                    <a href="{{ url_for('marks.mark_q_tag', slug=t.title) }}">{{ t.title }}</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p> No tags</p>
        {% endif %}
        </section>
    </section>
{% endblock %}
