{% extends "base.html" %}
{% block content %}
<section id="content">
    <section class="contentbox markform roundcorner5 shadow4 clear">
        <h2>Import marks</h2>
        <form action="{{ url_for('import_marks') }}" method="POST">
            {{form.hidden_tag()}}
            <p>
                {{ form.file.label() }} <br />
                {{ form.file() }}
            </p>
            <p class="submit">
                <input type="submit" value="Import" />
            </p>
        </form>
    </section>
</section>
{% endblock %}
