{% extends "base.html" %}
{% block content %}
<div id="login">
  <h1>Login</h1>
  <form action="{{ url_for('login') }}" method="POST" class="roundcorner5 shadow4">
    {{form.hidden_tag()}}
    <p>
      {{ form.username.label()}} <br />
      {{ form.username(size=20) }}
    </p>
    <p>
      {{ form.password.label()}} <br />
      {{ form.password(size=20) }}
    </p>
    <p>
      {{ form.remember_me.label()}}
      {{ form.remember_me() }}
    </p>
      <input type="submit" value="Login">
  </form>
</div>
{% endblock %}
