{% extends "base.html" %}
{% block content %}
<section class="markform marksbox shadow4 roundcorner5">
<h2>Login</h2>
    <form action="{{ url_for('login') }}" method="POST">
        {{form.hidden_tag()}}
        <p>
            {{ form.username.label()}} <br />
            {{ form.username(size=20) }}
        </p>
        <p>
            {{ form.password.label()}} <br />
            {{ form.password(size=20) }}
        </p>
        <p>
            {{ form.remember_me.label()}}
            {{ form.remember_me() }}
        </p>
            <input type="submit" value="Login">
    </form>
</section>
{% endblock %}
