{% extends "base.html" %}
{% block content %}
<section id="content">
<section class="contentbox markform roundcorner5 shadow4 clear">
    <h2>Profile - {{ g.user.username }}</h2>
    {{ g.user.email | gravatar }}
    <form action="{{ url_for('profile') }}" method="POST">
        {{form.hidden_tag()}}
        <section>
            <ul class="infolist">
                <li>Total marks: {{ mc }} (Bookmarks: {{ bc }}, Feeds: {{ fc }})</li>
                <li>Last created mark: {{ lcm.created }}</li>
                <li>Last logon: {{ g.user.last_logged }}</li>
            </ul>
            {% if bc %}
            {% endif %}
        </section>
        <section>
            <p>
                {% for error in form.username.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
                {{ form.username.label() }} <br />
                {{ form.username(size=20) }}
            </p>
            <p>
                {% for error in form.email.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
                {{ form.email.error }}
                {{ form.email.label() }} <br />
                {{ form.email(size=20) }}
            </p>
            <p>
                {% for error in form.password.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
                {{ form.password.label()}} <br />
                {{ form.password(size=20) }}
            </p>
            <p>
                {{ form.confirm.label()}} <br />
                {{ form.confirm(size=20) }}
            </p>
        </section>
        <section>
            <p>
                {% for error in form.suggestion.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
                {{ form.suggestion() }}
                {% for error in form.recently.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
                {{ form.recently() }}
            </p>
            <p>
                {% for error in form.per_page.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
                {{ form.per_page.label() }}
                {{ form.per_page() }}
                {% for error in form.sort_type.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
                {{ form.sort_type.label() }}
                {{ form.sort_type() }}
            </p>
        </section>
        <p class="submit">
            <input type="submit" value="Update" />
        </p>
    </form>
</section>
</section>
{% endblock %}
