<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
<section class="markform contentbox shadow4 roundcorner5">
<h2>Register</h2>
    <form action="{{ url_for('profile.register') }}" method="POST">
        {{form.hidden_tag()}}
        <p>
            {% for error in form.username.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            {{ form.username.label() }} <br />
            {{ form.username(size=20) }}
        </p>
        <p>
            {% for error in form.email.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            {{ form.email.error }}
            {{ form.email.label() }} <br />
            {{ form.email(size=20) }}
        </p>
        <p>
            {% for error in form.password.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            {{ form.password.label()}} <br />
            {{ form.password(size=20) }}
        </p>
        <p>
            {{ form.confirm.label()}} <br />
            {{ form.confirm(size=20) }}
        </p>
            <input type="submit" value="Register" />
    </form>
</section>
{% endblock %}
