body {
    width: 650px;
    margin: 0 auto;
}

#header ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

#header ul li {
    display: inline;
}

#bookmarks {
    width: 100%;
}

#bookmarks th {
    text-align: left;
}
