body {
    width: 800px;
    margin: 0 auto;
    padding-top: 10px;
}

a {
    text-decoration: none;  
    color: dimgray;
}

.roundcorner5 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.shadow4 {
    -webkit-box-shadow: 0 4px 10px #C8C8C8;
    box-shadow: 0 4px 10px #C8C8C8;
    -webkit-border-radius: 11px;
}

.clear {
    clear:both
}

h1 {
    color: #585858;
}
/**
 *
 * Header area
 *
 */
#header ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

#header ul li {
    display: inline;
    border: 1px solid lightgray;
    padding: 2px 2px;
    margin-right: 2px;
    background: #FAFAFA;
    font-size: 0.9em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#header #search {
    float: right;
    font-size: 0.9em;
    margin-top: 20px;
    margin-right: 5px;
}

#header #search input[type='text'] {
    border: 1px solid lightgray;
    font-size: 14px;
    width: 300px;
}

#header #search input[type='submit'] {
    display: none;
}



#header #primsection {
    margin-top: 10px;
    padding: 5px 10px;;
    background: #FAFAFA;
    border: 1px solid #CCC;
}

#header #secsection {
}


/**
 *
 * Login/register area
 *
 */
#login h1 {
}

#login,
#register {
    margin: 0 auto;
    width: 250px;
}

#login form,
#register form {
    padding: 20px;
    width: 225px;
    border: 1px solid lavender;
    background: whitesmoke;
}

#login input[type='text'],
#login input[type='submit'],
#login input[type='password'],
#register input[type='text'],
#register input[type='submit'],
#register input[type='password'] {
    border: 1px solid gray;
}


/**
 *
 * Content area
 *
 */
#flashmessages ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#flashmessages li {
    display: block;
    margin: 5px 0px;
}

#flashmessages ul .error {
    border: 1px solid red;
    padding: 5px;
    background: salmon;
}

#flashmessages ul .info {
    border: 1px solid green;
    padding: 5px;
    background: greenyellow;
}

.extrabox {
    padding: 10px;
    border: 1px solid #CCC;
    background: #FAFAFA;
}

.extrabox h3 {
    padding: 0;
    margin: 0;
    color: dimgray;
}

.bookmarksbox {
    padding: 10px;
    border: 1px solid #CCC;
    background: #FAFAFA;
    margin-top: 20px;
}

.bookmarks {
    width: 100%;
    font-size: 0.9em;
}

.bookmarks th {
    color: dimgray;
    text-align: left;
}

.bookmarks thead {
    display: none;
}

.bookmarks tr {
    height: 40px;
}

.bookmarks .titlecolumn {
    width: 690px;
}

.bookmarks .titlecolumn .clickIncrement {
    font-size: 0.9;
    color: gray;
}

.bookmarks .titlecolumn .tag {
    font-size: 0.75em;
    color: mediumvioletred;
}

.bookmarks .titlecolumn a.link {
    color: lightslategray;
}

.bookmarks .edit,
.bookmarks .actioncolumn a,
.bookmarks .delete {
    font-size: 0.75em;
}

.bookmarks .clickscolumn {
    font-size: 0.75em;
    color: orangered;
    text-align: center;
    width: 40px;
}

.bookmarks .lastvisit {
    font-size: 0.75em;
    padding-left: 10px;
    color: gray;
}

.bookmarks .neverclick {
    font-size: 0.75em;
    color: orangered;
}

.bookmarks .lastclick {
    font-size: 0.75em;
    color: olivedrab;
}

.bookmarkform label {
    color: gray;
    margin-bottom: 5px;
}

.bookmarkform input[type='text'] {
    width: 100%;
    background: #FBFBFB;
    border: 1px solid #E5E5E5;
    margin: 2px 6px 16px 0px;
    padding: 3px;
    font-size: 24px;
}

.bookmarkform input[type='submit'] {
    width: 100%;
    font-size: 1.4em;
    border: 1px solid dodgerblue;
    background: lightskyblue;
    color: dimgray;
}

#content {
    padding-bottom: 10px;
}

#paginate {
    font-size: 0.7em;
    padding: 20px 0px 0px 0px;
    text-align: center;
    color: dimgray;
}

#paginate a {
    margin: 0px 30px;
}

.description {
    color: dimgray;
    font-size: 0.75em;
}


/**
 *
 * Profile area
 *
 */
#profile .column {
    float: left; 
    margin-right: 20px;
    border: 1px solid lavender;
    background: ghostwhite;
    padding: 10px;
}

#profile .info {
    margin: 0px 0px 20px 0px;
    border: 1px solid lavender;
    background: ghostwhite;
    padding: 10px;
}

#profile .info p {
    padding: 0px;
    margin: 3px;
    font-size: 0.9em;
}

#profile .column input[type="text"],
#profile .column input[type="password"]{
    border: 1px solid grey;
}

#profile .submit {
    display: block;
    padding-top: 10px;
    clear:both;
}

#profile .submit input[type="submit"]{
    border: 1px solid gray;
}

/**
 *
 * Footer area
 *
 */
#footer {
    padding: 10px 0px;
    font-size: 0.7em;
    text-align: center;
    color: gray;
}
