body {
    width: 800px;
    margin: 0 auto;
}

a {
    text-decoration: none;  
    color: dimgray;
}


/**
 *
 * Header area
 *
 */
#header ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

#header ul li {
    display: inline;
}

#header #search {
    float: right;
    font-size: 0.9em;
}

#header #primsection {
    margin-top: 10px;
}

#header #secsection {
}


/**
 *
 * Login area
 *
 */
#login h1 {
}

#login {
    margin: 0 auto;
    width: 25%;
}


/**
 *
 * Content area
 *
 */

#flashmessages ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#flashmessages li {
    display: block;
    margin: 5px 0px;
}

#flashmessages ul .error {
    border: 1px solid red;
    padding: 5px;
    background: salmon;
}

#flashmessages ul .info {
    border: 1px solid green;
    padding: 5px;
    background: greenyellow;
}

#bookmarks {
    width: 100%;
    font-size: 0.9em;
}

#bookmarks th {
    text-align: left;
}

#bookmarks tr {
    height: 40px;
}

#bookmarks .titlecolumn .clickIncrement {
    font-size: 0.9;
    color: gray;
}

#bookmarks .titlecolumn .tag {
    font-size: 0.75em;
    color: mediumvioletred;
}

#bookmarks .actioncolumn a {
    font-size: 0.75em;
}

#bookmarks .clickscolumn {
    font-size: 0.75em;
    color: orangered;
}

.bookmarkform input[type='text'] {
    width: 100%;
}

#content {
    padding-bottom: 10px;
}

#paginate {
    font-size: 0.8em;
    padding: 20px 0px 0px 0px;
    text-align: center;
}

#paginate a {
    margin: 0px 30px;
}


/**
 *
 * Footer area
 *
 */
#footer {
    padding: 30px 0px;
    font-size: 0.7em;
    text-align: center;
}
