@charset "UTF-8";
/* CSS Document */

/**
 * Commons
 */
body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 400;
   background: #eaeaea url('../images/bg.png');
   width: 920px;
   margin: 0 auto;
   padding-top: 10px;
}

a {
    text-decoration: none;  
    color: dimgray;
}

.roundcorner5 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #F7F7F7;
}

.shadow4 {
    -webkit-box-shadow: 0 3px 10px #D3D3D3;
    box-shadow: 0 3px 10px #D3D3D3;
}

.clear {
    clear:both
}

h1 {
    color: #585858;
    font-size: 1.5em;
    font-weight: 300;
}

h2 {
    font-weight: 300;
    font-size: 1.2em;
}


/**
 * Header
 */
header {
    position: relative;
}

header h1 {
    font-size: 3em;
    padding: 0;
    margin: 15px 0px;
}


header #search {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 0.9em;
    margin-top: 15px;
    margin-right: 5px;
}

header #search input[type='text'] {
    border: 1px solid #F0F0F0;
    font-size: 14px;
    padding: 3px;
    margin-right: 10px;
    width: 340px;
}

header #search input[type='submit'] {
    display: none;
}

header #search label {
    font-size: 0.9em;
    color: grey;
}

header #secsection {
}


/**
 * Login/register.
 */
#login h1 {
}

#login,
#register {
    margin: 0 auto;
    width: 250px;
}

#login form,
#register form {
    padding: 20px;
    width: 225px;
    border: 1px solid lavender;
    background: #FAFAFA;
}

#login label,
#register label {
    color: gray;
}

#login input[type='text'],
#login input[type='password'],
#register input[type='text'],
#register input[type='password'] {
    padding: 4px;
    border: 1px solid #e5e5e5;
    width: 215px;
}

#login input[type='submit'],
#register input[type='submit'] {
    border: 1px solid dodgerblue;
    background: lightskyblue;
    color: dimgray;
    width: 225px;
    font-size: 1.05em;
}


/**
 * Content.
 */
#flashmessages ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#flashmessages li {
    display: block;
    margin: 5px 0px;
}

#flashmessages ul .error {
    border: 1px solid salmon;
    padding: 5px;
    background: #FDCCC7;
}

#flashmessages ul .info {
    border: 1px solid #D6FF97;
    padding: 5px;
    background: #E6FFC1;
}

.extrabox {
    padding: 10px;
    border: 1px solid #CCC;
    background: #FAFAFA;
}

.extrabox h3 {
    padding: 3px 0px;
    margin: 0;
    font-weight: 300;
    color: #A0A0A0;
    font-size: 0.95em;
    border-bottom: 1px solid whitesmoke;
}

.marksbox {
    padding: 10px;
    border: 1px solid #CCC;
    background: #FAFAFA;
    margin-top: 20px;
}

.marks {
    width: 100%;
    font-size: 0.9em;
}

.marks th {
    color: dimgray;
    text-align: left;
}

.marks thead {
    display: none;
}

.marks tr {
    height: 40px;
}

.marks .type {
  width: 20px;
  height: 20px;
}

.marks .feed {
  background: url('../icons/feed.png') no-repeat 0px 7px;
}

.marks .bookmark {
  background: url('../icons/book.png') no-repeat 0px 7px;
}

.marks .titlecolumn {
    width: 620px;
}

.marks .titlecolumn .clickIncrement {
    font-size: 0.9;
    color: gray;
}

.marks .titlecolumn .tag {
    font-size: 0.75em;
    color: mediumvioletred;
}

.marks .titlecolumn a.link {
    color: lightslategray;
}

.marks .edit,
.marks .actioncolumn a,
.marks .delete {
    font-size: 0.75em;
}

.marks .clickscolumn {
    font-size: 0.75em;
    color: orangered;
    text-align: center;
    width: 40px;
}

.marks .lastvisit {
    font-size: 0.75em;
    padding-left: 10px;
    color: gray;
}

.marks .clone {
    font-size: 0.75em;
    padding-left: 10px;
}

.marks .clone a {
    color: #197ABA;
}

.marks .neverclick {
    font-size: 0.75em;
    color: orangered;
}

.marks .lastclick {
    font-size: 0.75em;
    color: olivedrab;
}

.markform {
  padding: 20px;  
}

.markform label {
    color: gray;
    margin-bottom: 5px;
}

.markform input[type='text'] {
    width: 99%;
    background: #FBFBFB;
    border: 1px solid #E5E5E5;
    margin: 2px 6px 5px 0px;
    padding: 3px;
    font-size: 24px;
    font-weight: 300;
    color: #333;
}

.markform #type {
    margin: 0px;
    padding: 5px 0px;
    list-style: none;
}

.markform #type li {
    display: inline;  
    padding-right: 10px;
}

.markform input[type='submit'] {
    width: 100%;
    font-size: 1.4em;
    border: 1px solid dodgerblue;
    background: lightskyblue;
    color: dimgray;
}


#content {
    width: 750px;
    float: right;
    padding-bottom: 10px;
}

#paginate {
    font-size: 0.7em;
    padding: 20px 0px 0px 0px;
    text-align: center;
    color: dimgray;
}

#paginate a {
    margin: 0px 30px;
}

.description {
    margin: 0px;
    padding: 0px;
    color: dimgray;
    font-size: 0.75em;
    font-style: italic;
}

/**
 * Sidebar.
 */
#sidebar {
    clear: both;
    float: left;
    width: 150px;
}

#sidebar ul {
    list-style: none;
    margin-left: 0;
    padding-left: 10px;
}

#sidebar ul li {
    padding: 5px 2px 5px 20px;
    background: #FAFAFA url('../icons/bullet_orange.png') no-repeat 0px 2px;
    font-size: 0.95em;
    font-weight: 300;
}

#sidebar ul li:nth-child(1) {
    background: #FAFAFA url('../icons/bullet_add.png') no-repeat 0px 2px;
}

#sidebar ul li:nth-last-child(1) {
    background: #FAFAFA url('../icons/bullet_pink.png') no-repeat 0px 2px;
}

#sidebar {
    background: #FAFAFA;
    border: 1px solid #CCC;
}



/**
 * Feed.
 */ 
#content .feedlist {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

#content .feedlist ul {
    list-style: none;
    margin: 0;
    padding: 2px 0px 4px 2px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
    clear: both;
    overflow: auto;
}

#content .feedlist ul .makebookmark a{
    float: right;
    width: 20px;
    height: 20px;
    background: url('../icons/book.png') no-repeat 0px 2px;
}

#content .feedlist ul .link {
    font-size: 1.1em;
    display: inline;
}

#content .feedlist ul .date {
    font-size: 0.6em;
    color: #D3D3D3;
}

#content .feedlist ul .summary {
    font-size: 0.75em;
    color: #5A5A5A;
}

#content .feedlist li.image img {
    padding: 5px 5px;
    float: right;
    height: 200px;
}


/**
 * Profile.
 */
#profile {
    font-weight: 300;
}

#profile .column {
    float: left; 
    margin-right: 20px;
    border: 1px solid #CCC;
    background: #FAFAFA;
    padding: 10px;
}

#profile .info {
    margin: 0px 0px 20px 0px;
    border: 1px solid #CCC;
    background: #FAFAFA;
    padding: 10px;
}

#profile .info p {
    padding: 0px;
    margin: 3px;
    font-size: 0.9em;
}

#profile .column label {
    color: gray;
}

#profile .column input[type="text"],
#profile .column input[type="password"]{
    border: 1px solid #e5e5e5;
}

#profile select{
    border: 1px solid #E5E5E5;
    background: transparent;
    height: 30px;
    width: 50px;
    overflow: hidden;
    border: 1px solid #ccc;
}

#profile select#sort_type {
    width: 100px;
}


#profile .submit {
    display: block;
    padding-top: 10px;
    clear:both;
}

#profile .submit input[type="submit"]{
    width: 100%;
    font-size: 1.4em;
    border: 1px solid dodgerblue;
    background: lightskyblue;
    color: dimgray;
}


/**
 * Footer.
 */
footer {
    padding: 10px 0px;
    font-size: 0.7em;
    text-align: center;
    color: gray;
}
