{% extends "base.html" %}
{% block content %}
<section id="edit" class="markform marksbox shadow4 roundcorner5">
    <h2>Edit Bookmark</h2>
    <form action="{{ request.path }}" method="POST">
        {{form.hidden_tag()}}
        <p>
            {% for error in form.title.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            {{ form.title.label('Title') }} <br />
            {{ form.title(size=20) }}
        </p>
        <p>
            {% for error in form.url.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            {{ form.url.label('URL') }} <br />
            {{ form.url(size=20) }}
        </p>
        <p>
            {% for error in form.tags.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            {{ form.tags.label('Tags') }} <br />
            {{ form.tags(size=20) }}
        </p>
        <p>
            {% for error in form.clicks.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            {{ form.clicks.label('Clicks') }} <br />
            {{ form.clicks(size=20) }}
        </p>
            <input type="submit" value="Edit bookmark" />
    </form>
</section>
{% endblock %}
