<ul class="list-group">
    {% for mark in marks.items %}
    <li class="list-group-item">
        <h4 class="list-group-item-heading">
            {% if mark.type not in mark.valid_feed_types %}
            <a class="list-group-item list-group-item-default clickIncrement" href="{{ url_for('marks.mark_redirect', id=mark.id) }}" target="_blank" data-id="{{ mark.id }}" data-url="/mark/inc" rel="noreferrer">
                <span class="badge">{{ mark.metas | get_clicks }}</span>
                <span class="glyphicon glyphicon-link"></span>
                {{ mark.title|truncate(82) }}
            </a>
            {% elif mark.type in mark.valid_feed_types %}
            <a class="list-group-item list-group-item-default clickIncrement" href="{{ url_for('marks.view_mark', id=mark.id, type=mark.type) }}" data-id="{{ mark.id }}" data-url="/mark/inc">
                <span class="badge">{{ mark.metas | get_clicks }}</span>
                {% if mark.type == 'youtube' %}
                    <span class="glyphicon glyphicon-film"></span>
                {% else %}
                    <span class="glyphicon glyphicon-tree-deciduous"></span>
                {% endif %}
                {{ mark.title|truncate(82) }}
            </a>
            {% endif %}
        </h4>
        {% if mark.tags %}
            <div class="btn-toolbar btn-group-xs" role="toolbar">
                <div class="btn-group btn-group-xs">
                    {% for m in mark.tags %}
            
                        <a href="{{ url_for('marks.mark_q_tag', slug=m.title) }}" class="btn btn-default"><span class="glyphicon glyphicon-tag"></span> {{ m.title }}</a>
                    {% endfor %}
                </div>
                <a href="{{ url_for('marks.edit_mark', id=mark.id) }}" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> edit</a>
            </div>
        {% endif %}
    </li>
    {% endfor %}
</ul>

<ul class="pager">
{% if marks.has_prev %}
    <li><a href="{{ url_for(request.endpoint, slug=request.view_args.get('slug'), page=marks.prev_num, q=request.args.get('q'), type=request.args.get('type')) }}">Previous</a></li>
{% endif %}
{% if marks.has_next %}
    <li><a href="{{ url_for(request.endpoint, slug=request.view_args.get('slug'), page=marks.next_num, q=request.args.get('q'), type=request.args.get('type')) }}">Next</a></li>
{% endif %}
</ul>

