<section class="contentbox markslist roundcorner5 shadow4">
    <ul>
    {% for mark in marks.items %}
        <li class="tablerow">
            <ul class="type {{mark.type}}">
                <li class='column title'>
                    {% if mark.type == 'bookmark' %}
                        <a href="{{ mark.url }}" class="link clickIncrement" target="_blank" data-id="{{ mark.id }}" data-url="/mark/inc" title="{{mark.title}}" rel="noreferrer">
                            {{ mark.title|truncate(82) }}
                        </a>
                    {% elif mark.type == 'feed' %}
                        <a href="{{ url_for('view_mark', id=mark.id) }}" class="link clickIncrement" data-id="{{ mark.id }}" data-url="/mark/inc" title="{{mark.title}}" rel="noreferrer">
                            {{ mark.title|truncate(82) }}
                        </a>
                    {% endif %}
                    <br />
                    {% if mark.tags %}
                        {% for w in mark.tags.split(' ') %}
                            <a href="{{ url_for('mark_q_tag', slug=w) }}" class="tag">{{ w }}</a>
                        {% endfor %}
                    {% endif %}
                    <span class="clone"><a href="{{ url_for('new_mark', url=mark.url, type=mark.type) }}">clone</a></span>
                    <span class="lastvisit">last visit:</span>
                    {% if mark.last_clicked %}
                        <span class="lastclick">{{ mark.last_clicked | datewords }}</span>
                    {% else %}
                        <span class="neverclick">never</span>
                    {% endif %}
                </li>
                <li class="column clicks">
                    <span>{{ mark.clicks }}</span>
                </li>
                <li class='column actions'>
                    <a href="{{ url_for('edit_mark', id=mark.id) }}" class="edit">
                        <img src="/static/icons/edit.png" title="Edit" alt="Edit"/>
                    </a> 
                    <a href="{{ url_for('delete_mark', id=mark.id) }}" class="delete">
                        <img src="/static/icons/delete.png" title="Delete" alt="Delete"/>
                    </a>
                </li>
            </ul>
        </li>
    {% endfor %}
    <ul>
</section>
<section id="paginate">
{% if marks.has_prev %}
    <a href="{{ url_for(request.endpoint, slug=request.view_args.get('slug'), page=1, q=request.args.get('q'), type=request.args.get('type')) }}"><<</a>
    <a href="{{ url_for(request.endpoint, slug=request.view_args.get('slug'), page=marks.prev_num, q=request.args.get('q'), type=request.args.get('type')) }}"><</a>
{% endif %}
Page {{ marks.page }} of {{ marks.pages }}
{% if marks.has_next %}
    <a href="{{ url_for(request.endpoint, slug=request.view_args.get('slug'), page=marks.next_num, q=request.args.get('q'), type=request.args.get('type')) }}">></a>
    <a href="{{ url_for(request.endpoint, slug=request.view_args.get('slug'), page=marks.pages, q=request.args.get('q'), type=request.args.get('type')) }}">>></a>
{% endif %}
</section>
