{% extends "base.html" %}
{% block content %}
<section id="new" class="markform contentbox shadow4 roundcorner5">
    <h2>Add new mark</h2>
    <form action="{{ url_for('marks.new_mark') }}" method="POST">
        {{form.hidden_tag()}}
        <p>
            {% for error in form.title.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            {{ form.title.label() }} <br />
            {{ form.title(size=20) }}
            <span class="description">Left blank, the title will be retrieved automatically.</span>
        </p>
        <p>
            {% for error in form.url.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            {{ form.url.label() }} <br />
            {{ form.url(size=20) }}
        </p>
        <p>
            {% for error in form.type.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            {{ form.type() }}
        </p>
        <p>
            {% for error in form.tags.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            {{ form.tags.label() }} <br />
            {{ form.tags(size=20) }}
            <span class="description-small">Space or comma separated.</span>
        </p>
           <input type="submit" value="Submit" />
    </form>
</section>
{% endblock %}
