{% extends "base.html" %}
{% block content %}
{% include "mark/submenu.html" %}
    <section class="contentbox markslist roundcorner5 shadow4">
        <h2>Tags</h2>
        <section id="tagcloud">
        {% if tags %}
            <ul>
            {% for t in tags %}
                <li class="count-{{ t.marks | length }}" {{ t.marks | tagsize }} >
                    <a href="{{ url_for('mark_q_tag', slug=t.title) }}">{{ t.title }}</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p> No tags</p>
        {% endif %}
        </section>
    </section>
{% endblock %}
