{% extends "base.html" %}
{% block content %}
<h1>{{ mark.title }}</h1>
<section id="view" class="marksbox roundcorner5 shadow4">
    <ul class="feedlist">
    {% for entry in data['entries'] %}
        <li class='entry'>
            <ul>
                {% for link in entry['links'] %}
                    {% if link['rel'] == 'alternate' or link['rel'] == 'enclosure'%}
                        <li class='makebookmark'><a href="{{ url_for('new_mark', title=entry['title'], url=link['href']) }}" class="link"></a></li>
                    {% endif %}
                {% endfor %}
                {% for link in entry['links'] %}
                    {% if link['rel'] == 'alternate' or link['rel'] == 'enclosure'%}
                        <li class='link'><a href="{{ link['href'] }}" rel="noreferrer" class="link" target="_blank">{{ entry['title'] }}</a></li>
                    {% endif %}
                {% endfor %}
                <li class='date'>{{ entry['published'] }} / {{ entry['updated'] }}</li>
                {% if entry['media_thumbnail'] %}
                    {% for link in entry['links'] %}
                        {% if link['rel'] == 'alternate' or link['rel'] == 'enclosure'%}
                            <li class='image'><a href="{{ link['href'] }}" class="link" rel="noreferrer" target="_blank"><img src='{{ entry['media_thumbnail'][0]['url'] }}' /></a></li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <li class='summary'>
                {% autoescape false %}
                    <pre>{{ entry['summary'] }}</pre>
                {% endautoescape %}
                </li>
            </ul>
        </li>
    {% endfor %}
    </ul>
</section>
{% endblock %}
