<div class="extrabox roundcorner5 shadow4">
  {% if g.user.suggestion and suggestions %}
    <div id="suggestions">
    <h3>Random suggestion</h3>
      <table class="bookmarks">
      {% for suggestion in suggestions %}
          <tr>
              <td class='titlecolumn'>
                  <a href="{{ suggestion.url }}" class="link clickIncrement" target="_blank" data-id="{{ suggestion.id }}", title="{{suggestion.title}}" rel="noreferrer">
                    {{ suggestion.title|truncate(90) }} -
                    </a>
                    <a href="{{ url_for('edit_feed', id=suggestion.id) }}" class="edit">
                        Edit
                    </a> 
                    <a href="{{ url_for('delete_feed', id=suggestion.id) }}" class="delete">
                        Delete
                    </a>
                  </a><br />
                  {% if suggestion.tags %}
                    {% for w in suggestion.tags.split(' ') %}
                      <a href="{{ url_for('search_tags', slug = w) }}" class="tag">{{ w }}</a>
                    {% endfor %}
                  {% endif %}
              </td>
          </tr>
      {% endfor %}
      </table>
      </div>
  {% endif %}
  {% if g.user.recently and recently %}
    <div id="recently">
    <h3>Recently added</h3>
      <table class="bookmarks">
      {% for recent in recently %}
          <tr>
              <td class='titlecolumn'>
                  <a href="{{ recent.url }}" class="link clickIncrement" target="_blank" data-id="{{ recent.id }}", title="{{recent.title}}" rel="noreferrer">
                    {{ recent.title|truncate(90) }} -
                    </a>
                    <a href="{{ url_for('edit_feed', id=recent.id) }}" class="edit">
                        Edit
                    </a> 
                    <a href="{{ url_for('delete_feed', id=recent.id) }}" class="delete">
                        Delete
                    </a>
                  </a><br />
                  {% if recent.tags %}
                    {% for w in recent.tags.split(' ') %}
                      <a href="{{ url_for('search_tags', slug = w) }}" class="tag">{{ w }}</a>
                    {% endfor %}
                  {% endif %}
              </td>
          </tr>
      {% endfor %}
      </table>
      </div>
  {% endif %}
</div>
