{% extends "base.html" %}
{% block content %}
<h1>{{ feed.title }}</h1>
<div id="view" class="bookmarksbox roudcorners5 shadow4">
  <ul class="feedlist">
  {% for entry in data['entries'] %}
      <li class='entry'>
        <ul>
          <li class='link'><a href="{{ entry['links'][0]['href'] }}" rel="noreferrer" class="link" target="_blank">{{ entry['title'] }}</a></li>
          <li class='date'>{{ entry['published'] }} / {{ entry['updated'] }}</li>
          <li class='summary'>{{ entry['summary'] }}</li>
        </ul>
      </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
