{% extends "base.html" %}
{% block content %}
{% if not bookmarks.items and not 'Results' in header %}
<h1>Hello {{ g.user.username }}</h1>
<h3>Click "New bookmark" to add a bookmark</h3>
{% else %}
    <h1>{{ header }}</h1>
    {% if (g.user.recently or g.user.suggestion) and not 'Results' in header %}
      {% include "bookmark/extra.html" %}
    {% endif %}
    {% if bookmarks.items %}
      {% include "bookmark/table.html" %}
    {% else %}
      <h2>No results</h2>
      <h3>Try again</h3>
      {% include "searchform.html" %}
    {% endif %}
{% endif %}
{% endblock %}
