<div class="bookmarksbox roundcorner5 shadow4">
  <table class="bookmarks">
      <thead>
          <th>Title</th>
          <th>Clicks</th>
          <th>Actions</th>
      </thead>
      <tbody>
          {% for bookmark in bookmarks.items %}
              <tr>
                  <td class='titlecolumn'>
                      <a href="{{ bookmark.url }}" class="link clickIncrement" target="_blank" data-id="{{ bookmark.id }}" data-url="bookmark/inc" title="{{bookmark.title}}" rel="noreferrer">
                        {{ bookmark.title|truncate(90) }}
                      </a><br />
                      {% if bookmark.tags %}
                        {% for w in bookmark.tags.split(' ') %}
                          <a href="{{ url_for('bookmark_q_tag', slug = w) }}" class="tag">{{ w }}</a>
                        {% endfor %}
                      {% endif %}
                      <span class="lastvisit">last visit:</span>
                      {% if bookmark.last_clicked %}
                      <span class="lastclick">{{ bookmark.last_clicked | datewords }}</span>
                      {% else %}
                      <span class="neverclick">never</span>
                      {% endif %}
                  </td>
                  <td class="clickscolumn">
                    <span>{{ bookmark.clicks }}</span>
                  </td>
                  <td class='actioncolumn'>
                      <a href="{{ url_for('edit_bookmark', id=bookmark.id) }}" class="edit">
                          <img src="/static/icons/edit.png" title="Edit" alt="Edit"/>
                      </a> 
                      <a href="{{ url_for('delete_bookmark', id=bookmark.id) }}" class="delete">
                          <img src="/static/icons/delete.png" title="Delete" alt="Delete"/>
                      </a>
                  </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
<div id="paginate">
{% if bookmarks.has_prev %}
  <a href="{{ url_for(request.endpoint, page = 1, q = request.args.get('q')) }}"><<</a>
  <a href="{{ url_for(request.endpoint, page = bookmarks.prev_num, q = request.args.get('q')) }}"><</a>
{% endif %}
Page {{ bookmarks.page }} of {{ bookmarks.pages }}
{% if bookmarks.has_next %}
  <a href="{{ url_for(request.endpoint, page=bookmarks.next_num, q = request.args.get('q')) }}">></a>
  <a href="{{ url_for(request.endpoint, page = bookmarks.pages, q = request.args.get('q')) }}">>></a>
{% endif %}
</div>
